:root{
    --primary : #E24E16;
    --secondary: #E41A2D;
    --white: #fff;
    --black: #000;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Mulish", serif;
    font-size:16px;
    line-height: 30px;
    font-weight: 400;
}
.navbar{
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

}

.navbar .nav-link{
    font-size:14px;
    font-weight: 600;
    line-height: 30px;
    color:var(--black);
    text-transform: uppercase;

}

.navbar img{
    width:160px;
    height: 120px;
    object-fit: cover;
    margin-top:-15px;
    margin-bottom: -25px;
}

.head-btn{
    background-color: var(--primary);
    color: var(--white);
    border:2px solid var(--primary);
    border-radius: 35px;
    padding:12px 45px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-left:30px !important;
}
.head-btn:hover{
    background-color: transparent;
    color: var(--black) !important;
    border:2px solid var(--primary);
}


/* ============= Hero Section ========== */

.carousel-caption{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.carousel-item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.carousel-caption h2{
    font-size:65px;
    font-weight: 700;
    line-height: 70px;
    font-family: "Mulish", serif;
    margin-bottom: 15px;
}
.carousel-indicators [data-bs-target]{
    height:15px !important;
    width:15px !important;
    border-radius: 100% !important;
    margin-right: 5px;
    margin-left: 5px;
}

.carousel-caption a{
    background-color: var(--primary);
    color: var(--white);
    border:2px solid var(--primary);
    border-radius: 35px;
    padding:12px 45px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-left:30px !important;
}

.carousel-caption a:hover{
    background-color: transparent;
    border:2px solid var(--primary);
}

.carousel-control-prev, .carousel-control-next{
    padding:15px !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: var(--primary);
    padding: 15px !important;
    border-radius: 100%;
    border:10px solid var(--primary);
}

/* ============== about Section =========*/

#about{
    padding:80px 0px;
    
}
.dptitle{
    font-size:65px;
    font-weight: 700;
    line-height: 70px;
}

.dpsubtitle{
    font-size:20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--black);
}
#about img{
    width:100%;
    padding: 20px;
    border-radius: 12px;
}

#about .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
#about .about-content .ptext{
    margin-bottom: 30px;
}
#about .about-content h4{
    margin-bottom: 15px;
    font-size:22px;
    line-height: 30px;
    font-weight: 700;
}
#about .about-content .prog{
   margin-bottom: 20px;
}

.progress-bar{
    background-color: var(--primary);
}

/*========== Services section ==========*/

#services{
    padding:0px 0px 80px 0px;
}

#services i{
    width: 45px;
    height: 45px;
    font-size: 20px;
    background: #fff;
    color: #f64b4b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px !important;
    transition: background 0.5s ease, color 0.5s ease;
}

#services .service:hover i{
    background: #f64b4b;
    color: #fff;

}
#services .service .fa{
    line-height: 30px;
}

/*============ Gallery Section ======*/
#gallery{
    padding:0px 0px 80px 0px;
}
.gallery-text{
    margin-bottom: 50px;
}

.portfolio-list img{
    width:100%;
}
.portfolio-wrapper{
    position: relative;
    margin-bottom: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.label{
    position: absolute;
    left:0;
    bottom: 0;
    width:100%;
    height: auto;
    padding:10px 10px;
    background:rgba(0, 0, 0, 0.95);   
   
    transform: translateY(100%);
    transition: transform 0.5s ease;

}
.portfolio-wrapper:hover .label{
    transform: translateY(0);
}

.portfolio-wrapper a{
    text-decoration: none;
}

.label h3{
    font-size:22px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none !important;
    color: var(--primary);
}
.label p{
    font-size:16px;
    line-height: 20px;
    text-decoration: none !important;
    color: var(--white) !important;
}
.pagination1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.active>.page-link, .page-link.active{
    background-color: var(--primary);
    border:1px solid var(--primary);
}

.page-link{
    color:var(--primary);
}

/*========== Team Section =========== */
.team{
    margin-bottom: 30px;
    border:1px solid rgba(226, 78, 22, 0.3);
    cursor: pointer;
    border-radius: 12px;
}
.team_text{
    margin-bottom: 50px;
}
.team_inner{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width:100%;
    height:280px;
    cursor: pointer;
}

.team_inner img{
    height:280px;
    width:100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.teamlabel{
    position: absolute;
    width: 100%;
    height:100%;
    left:0;
    bottom: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: rgba(226, 78, 22, 0.8);
    padding:15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.7s ease;
}
.team:hover .teamlabel{
    transform: translateY(0);
}
.teamlabel .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.teamlabel .icons i{
    color:var(--white);
    font-size: 20px;
    background-color: var(--white);
    padding:10px;
    border-radius: 100%;
    color:var(--primary);
}
.team-text{
    padding: 15px;
}

.team-text h3{
    font-size:25px;
    line-height: 32px;
    font-weight: 700;
    color:var(--black);
}

.team-text .team-sub{
    font-size:14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.team-text p{
    font-size:16px;
    line-height: 24px;
    color:var(--black);
}

/*========= Price Section ======== */

#price{
    padding:80px 0px;
}
.price_text{
    margin-bottom: 80px;
}
.price-table1 thead th{
    background: var(--black) !important;
    color: var(--white);
    font-size:30px;
    font-weight: 700;
    line-height: 35px;
    padding: 15px 0px;
}
.price-table2 thead th{
    background: var(--primary) !important;
    color: var(--white);
    font-size:30px;
    font-weight: 700;
    line-height: 35px;
    padding: 15px 0px;
   
}
.price-table2{
    transform: scale(1.2);
    margin-bottom: 60px;
    border:0.5px solid rgba(226, 78, 22, 0.3) !important;
   
}
.price-table3 thead th{
    background: var(--black) !important;
    color: var(--white);
    font-size:30px;
    font-weight: 700;
    line-height: 35px;
    padding: 15px 0px;
    
}
#price button{
    background-color: var(--primary);
    color: var(--white);
    border:2px solid var(--primary);
    border-radius: 35px;
    padding:12px 45px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-left:30px !important;
}
#price button:hover{
    background-color: transparent;
    color: var(--black) !important;
    border:2px solid var(--primary);
}

/*============== Contact Section ========= */
#contact{
    padding:0px 0px 80px 0px;
}
.contact_text{
    margin-bottom: 50px;
}

.add-text{
    padding:30px 0px;
}

.address{
    display: flex;
    align-items: center;
    gap:12px;
    margin-bottom: 10px;
}

.address p{
    margin-top:12px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color:var(--black);
    cursor: pointer;
    transition: color 0.5s ease;
}
.address p:hover{
    color:var(--primary);
}
.address i{
    font-size: 18px;
    background-color: var(--primary);
    color: var(--white);
    padding:10px;
    cursor: pointer;
    border-radius: 100%;
}

.contact-btn{
    background-color: var(--primary);
    color: var(--white);
    border:2px solid var(--primary);
    border-radius: 35px;
    padding:12px 120px !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
   
    text-transform: uppercase;
    transition: all 0.5s ease;
}
.contact-btn:hover{
    background-color: transparent;
    color: var(--black) !important;
    border:2px solid var(--primary);
}
.contact-form{
    background-color: var(--white);
    padding:80px 30px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.copy{
    background-color: var(--black);
    padding:15px 15px 0px 15px;
}

.copy-text p{
    color:var(--white) !important;
    font-size:16px;
    line-height: 30px;
}